.formulario{
    height: auto;
    display: flex;
    justify-content: center;
}
form{
    background-color: rgb(172, 172, 172);
    width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
form  label{
    margin-top: 15px;
    font-weight: 600;
}

.container{
    display: flex;
    flex-direction: column;
}

